tests/fixtures/synthetic/purposes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:example:purposes"
           elementFormDefault="qualified">
   <xs:element name="purposes">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="purpose" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="purposeId" type="xs:string"/>
                     <xs:element name="attributes">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="consentType" type="xs:string"/>
                              <xs:element name="countryCode" type="xs:string"/>
                              <xs:element name="nmscCode" type="xs:string"/>
                              <xs:element name="brand" type="xs:string" minOccurs="0"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
